[user]
	name = Artem Yegorov
	email = yegorov0725@yandex.ru
	signkey = 014AF26C2B07A4FB
[alias]
	ci = commit
	adog = log --all --decorate --oneline --graph
	lg = log --color --graph --abbrev-commit \n--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'

[diff]
	tool = p4merge
[difftool]
	prompt = false
[difftool "p4merge"]
	cmd = p4merge "$LOCAL" "$REMOTE"
	keepTemporaries = true
	trustExitCode = false
	keepBackup = false

[core]
	excludesfile = /home/artem/.gitignore_global
[cola]
	spellcheck = false
[commit]
	gpgsign = true
